.user-info {
}
.user-info-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.user-info-main-image {
    margin-bottom: 20px;
}

.user-info-main-image img {
    width: 150px;
    height: 150px;
}
.user-info-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-main-text h1 {
    font-size: 65px;
    font-weight: bold;
}
.user-info-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}
.user-info-detail-body {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
}

.user-info-detail-body span {
    font-weight: bold;
}